$white: #FFF;
$black: #000;

$rs45: #E50000;
$rs50: #FF0000;
$rs55: #FF1919;
$rs60: #FF3333;
$rs80: #FF9999;
$rs90: #FFCCCC;
$rs95: #FFE5E5;
$rs99: #FFFAFA;

$bs06: #0F0F0F;
$bs08: #141414;
$bs10: #1A1A1A;
$bs12: #1F1F1F;
$bs15: #262626;
$bs20: #333333;
$bs25: #404040;
$bs30: #4C4C4C;

$gs60: #999999;
$gs65: #A6A6A6;
$gs70: #B3B3B3;
$gs75: #BFBFBF;
$gs90: #E4E4E7;
$gs95: #F1F1F3;
$gs97: #F7F7F8;
$gs99: #FCFCFD;
